@use '../var' as *;

.containerAccount {
  max-width: 400px;
  margin: 80px auto;
  padding: 32px;
  background: $color-tertiary;
  border-radius: $radius-md;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    text-align: center;
    font-family: $font-primary;
    margin-bottom: 16px;
    font-size: $font-size-xl;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    label {
      font-weight: 600;
      font-family: $font-secondary;
      font-size: $font-size-sm;
    }

    input {
      appearance: none;
      background-color: $color-secondary;
      padding: 11px 14px;
      border-radius: $radius-sm;
      border: 1px solid black;
      font-size: $font-size-sm;
      outline: none;

      &:focus {
        border-color: #FEC89A;
        box-shadow: 0 0 0 2px rgba(0, 119, 204, 0);
      }
    }
  }
}

.accountButton {
  @include button-style($color-primary, #fff, $radius-md);
}

// ---------------------------
// Responsive
// ---------------------------

// Tablette (768px)
@media (max-width: 768px) {
  .containerAccount {
    margin: 60px auto;
    padding: 24px;
  }
}

// Mobile (390px)
@media (max-width: 390px) {
  .containerAccount {
    margin: 40px auto;
    padding: 16px;
  }
}