@use '../var' as *;

.container {
  width: 100%;
  margin: auto;
  background-image: $bg-primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;

  &__title {
    font-family: $font-secondary;
    font-size: 48px;
    text-align: center;
  }

}

// span {
//   overflow: hidden;
//   font-size: 14px;
//   color: #333;
//   width: 100%;
//   flex-shrink: 0;
// }

.articlesContainer {
  margin: 0 80px;

  &__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &__div {
      width: 40%;

      &__card {
        position: relative;
        background-color: $color-secondary;
        border: 2px solid black;
        border-radius: 10px;
        margin-bottom: 40px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 100%;
        font-family: Itim;
        text-align: center;

        &__title {
          position: absolute;
          top: 10px;
          left: 10px;
          font-family: $font-primary;
          font-size: 24px;
          z-index: 2;
          padding: 2px 6px;
          border-radius: 6px;
          text-align: left;
        }

        &__image {
          width: 60%;
          max-height: 400px;
          border-radius: 10px;
          object-fit: contain;
          margin: auto;
          display: block;
          align-self: center;
        }
      }
    }
  }

  .fullLink {
    position: absolute;
    inset: 0;
    z-index: 1;
    text-decoration: none;
    color: inherit;
  }

  .articleCategory {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: $font-secondary;
    font-size: 16px;
    color: $color-primary;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 12px;
    z-index: 2;
  }

  .articleContent {
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: $font-primary;
    font-size: 16px;
    color: #333;
    text-align: center;
    /* Pour limiter à 1 ligne avec "..." */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// .articleH2 {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: $font-primary;
//   font-size: 48px;
//   margin: 0 auto;
// }

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;


  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: $color-secondary;
    width: 196px;
    height: 32px;
    font-family: $font-secondary;
    font-size: 16px;

    &:visited {
      color: #000000;
    }
  }
}