@use '../var' as *;

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 40%;

  &__title {
    font-size: $font-size-xl;
    margin-bottom: 16px;
    text-align: center;
    font-family: $font-secondary;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__label {
    font-weight: $font-weight-bold;
  }

  &__input {
    font-family: $font-primary;
    padding: 10px;
    border: 1px solid $color-quaternary;
    border-radius: $radius-sm;
    font-size: $font-size-md;
  }

  &__select {
    padding: 10px;
    background-color: $color-secondary;
    border: 1px solid $color-quaternary;
    border-radius: $radius-sm;
  }

  &__textarea {
    resize: vertical;
    font-family: $font-primary;
    padding: 10px;
    border: 1px solid $color-quaternary;
    border-radius: $radius-sm;
    font-size: $font-size-md;
  }

  &__file {
    display: none;
  }

  &__image {
    text-align: center;
    font-family: $font-primary;
    padding: 10px;
    border: 1px solid $color-quaternary;
    border-radius: $radius-sm;
    font-size: $font-size-md;
    background-color: $color-secondary;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  &__submit {
    @include button-style($color-primary, #fff, $radius-md);

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}

// Mobile (390px)
@media (max-width: 390px) {
  .article {
    width: 80%;
  }
}

// .articleForm {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   margin: 0 auto;
//   width: 60%;

//   label {
//     display: block;
//     font-family: $font-primary;
//     font-size: 24px;
//     font-weight: 600;
//     margin-bottom: 5px;
//     color: #333;
//   }

//   .inputField,
//   .textArea {
//     width: 100%;
//     padding: 8px 10px;
//     font-size: 24px;
//     border: 1px solid #ccc;
//     border-radius: 6px;
//     font-family: $font-primary;
//   }

//   .submitButton {
//     margin-top: 20px;
//     padding: 10px;
//     font-size: 16px;
//     background-color: #CABCBC;
//     border: 1px solid #000;
//     font-family: "Jacquarda Bastarda 9";
//     cursor: pointer;
//     transition: 0.3s;

//     &:hover {
//       background-color: #b8aaaa;
//     }
//   }
// }