@use '../var' as *;

.articleDetails {
    background-image: $bg-primary;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__container {
        width: 80%;
        background-color: $color-secondary;
        border: 2px solid $color-quaternary;
        border-radius: 10px;
        padding: 30px;
        margin-top: 30px;
    }

    &__title {
        font-family: $font-primary;
        font-size: $font-size-xl;
        margin-bottom: 20px;
    }

    &__image {
        border-radius: $radius-md;
        margin-bottom: 20px;
    }

    &__ingredientList {
        padding-left: 0;
        list-style: none;
        text-align: left;


        &__ingredient {
            position: relative;
            padding-left: 25px;
            margin-bottom: 6px;
            font-size: $font-size-sm;

            &::before {
                content: "🥕";
                position: absolute;
                left: 0;
                font-size: $font-size-md;
            }
        }
    }

    &__separator {
        width: 50%;
        height: 1px;
        background-color: $color-quaternary;
        margin: 40px auto;
    }

    &__content {
        font-size: $font-size-sm;
        margin-bottom: 15px;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    &__favoriButton {
        @include button-style($color-primary-green, #fff, $radius-md);
    }

    &__category {
        font-size: $font-size-sm;
        margin-bottom: 15px;
        display: flex;
        flex: end;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        font-size: $font-size-sm;
    }

    &__tag {
        background-color: $color-primary;
        color: #fff;
        font-weight: $font-weight-bold;
        padding: 4px 8px;
        border-radius: $radius-md;
        white-space: nowrap;
    }

    &__comments {
        width: 80%;
        background-color: $color-tertiary;
        margin: 30px 0 30px 0;
        border: 2px solid $color-quaternary;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__commentsInput {
        border-radius: 10px;
        border: 2px solid $color-quaternary;
        padding: 20px;
        font-size: $font-size-sm;
        width: 80%;
        margin-bottom: 20px;
    }

    &__commentsButton {
        @include button-style($color-primary, #fff, $radius-md);
        width: 20%;

        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    &__commentsList {
        list-style: none;
    }

    &__comment {
        border-bottom: 1px solid $color-primary-green; // Ligne de séparation
        padding: 10px 0;
    }
}

// Responsive

// Tablette (768px)
@media (max-width: 768px) {
    .articleDetails {

        &__container,
        &__comments {
            width: 90%;
            padding: 20px;
        }

        &__commentsInput {
            width: 80%;
        }
    }
}

// Mobile (390px)
@media (max-width: 390px) {
    .articleDetails {

        &__container {
            width: 80%;
        }

        &__comments {
            width: 80%;
            padding: 16px;
        }

        &__title {
            font-size: $font-size-md;
        }

        &__image {
            width: 200px;
            height: 200px;
        }

        &__content {
            font-size: $font-size-sm;
            text-align: justify;
        }

        &__ingredientList__ingredient {
            font-size: $font-size-sm;
        }

        &__meta {
            flex-direction: column;
        }
        
        &__category {
            font-size: $font-size-sm;

        }

        &__separator {
            width: 80%;
        }

        &__meta {
            align-items: center;
        }

        &__favoriButton {
            padding: 12px;
        }

        &__commentsButton {
            width: 60%;
            padding: 12px;
        }
    }
}