@use '../var' as *;

.header {
  font-family: $font-primary;
  background-color: $color-primary;
  display: grid;
  grid-template-columns: auto 1fr auto; // gauche | centre | droite
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  &__left {
    display: flex;
    align-items: center;
    gap: 15px; // espace entre logo et bouton menu
  }

  &__logo {
    width: 100px;
    height: 119px;
    margin-left: 40px;
    border-radius: 10px;
  }

  &__title {
    font-size: 64px;
    font-weight: 800;
    color: $color-secondary;
    text-align: center;
  }

  &__nav {
    display: flex;
    gap: 20px;

    &Link {
      text-decoration: none;
      font-weight: 800;
      font-size: $font-size-md;
      color: $color-secondary;
      background-color: $color-primary;
      font-family: $font-secondary;
      border: none;
      cursor: pointer;

      &:hover {
        color: lighten($color-primary, 10%);
      }
    }
  }
}