@use '../var' as *;

.containerMyAccount {
    background-image: $bg-secondary;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        background-color: $color-secondary-purple;
        border: 2px solid $color-quaternary-dark;
        border-radius: 10px;
        padding: 32px;
        max-width: 800px;
        margin: 32px auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

        .success-message {
            background-color: #d4edda;
            color: #155724;
            padding: 10px 15px;
            border-radius: $radius-sm;
            margin-bottom: 15px;
            border: 1px solid #c3e6cb;
        }

        .error-message {
            background-color: #ffe3e3;
            color: #b80000;
            padding: 10px 15px;
            border-radius: 5px;
            margin-bottom: 15px;
            border: 1px solid #b8000079;
        }

        &__title {
            font-size: $font-size-xl;
            margin-bottom: 16px;
            text-align: left;
        }

        &__userInfo {
            margin-bottom: 32px;
            font-family: $font-secondary;

            p {
                margin: 5px 0;
                font-size: $font-size-sm;

                strong {
                    font-weight: bold;
                    margin-right: 8px;
                }
            }
        }

        &__article {
            font-size: $font-size-lg;
            margin-bottom: 16px;


            &__list {
                list-style: none;
                padding: 0;

                &__item {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    border-radius: 8px;
                    padding: 16px;
                    margin-bottom: 16px;
                    transition: box-shadow 0.3s ease;

                    &:hover {
                        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
                    }


                    &__title {
                        min-width: 150px;
                        max-width: 150px; 
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    &__image {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: $radius-sm;
                    }

                    &__content {
                        flex: 1;
                        margin: 0;
                        color: $color-quaternary-dark;
                    }

                    &__date {
                        min-width: 110px;
                        margin: 0;
                        color: $color-quaternary;
                        font-size: $font-size-sm;
                    }

                    &__edit,
                    &__delete {
                        border: 1px solid;
                        border-radius: 5px;
                        padding: 6px 12px;
                        cursor: pointer;
                        font-size: $font-size-sm;
                        transition: all 0.2s;
                        margin-left: 8px;
                        min-width: 100px;
                    }

                    &__edit {
                        background-color: $color-tertiary;
                        color: #2a2a7a;

                            &:hover {
                                background-color: darken($color-secondary-blue, 10%);
                            }
                    }

                    &__delete {
                        background-color: $color-secondary;
                        color: #be2020;

                    &:hover {
                        background-color: darken($color-secondary, 10%);
                        }
                    }
                }
            }
        }
    }
}

// .pagination {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 20px;
//   gap: 10px;

//   button {
//     cursor: pointer;
//     border: none;
//     background-color: transparent;
//     font-size: 24px;
//     padding: 10px;

//     &:disabled {
//       cursor: not-allowed;
//       opacity: 0.5;
//     }
//   }