@use '../var' as *;

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; // Rempli l'écran entier

    h1 {
        font-size: $font-size-xxxxl;
        margin-bottom: 20px;
        color: $color-primary-green;
    }

    p {
        font-size: $font-size-lg;
        margin-bottom: 30px;
    }

    &__button {
        background-color: $color-primary-green;
        font-size: $font-size-lg;
        color: #fff;
        padding: 10px 20px;
        border-radius: $radius-sm;
        text-decoration: none;
        transition: background 0.2s;

        &:hover {
            background: darken($color-primary-green, 10%);
        }
    }
  }

 @media (max-width: 768px) {
  .notfound {
    height: 500px;

    &__button {
      padding: 8px 18px;
    }

    h1 {
      font-size: $font-size-xxxl;
    }
  }
}

@media (max-width: 390px) {
  .notfound {
    height: 400px;

    &__button {
      padding: 6px 16px;
    }

    h1 {
      font-size: $font-size-xxl;
    }
  }
}
