$color-primary: #FEC89A;
$color-primary-orange: #fd8012;
$color-primary-green: #9CE5C4;
$color-secondary: #FFF7ED;
$color-secondary-blue: #EFF6FF;
$color-secondary-purple: #faf6ff;
$color-tertiary: #F9F9F9;
$color-tertiary-green: #e6f8f0;
$color-quaternary: grey;
$color-quaternary-dark: #333;