$font-primary: 'Allura', serif;
$font-secondary: 'Alice', serif;

$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-xxxxl: 96px;

$bg-primary: url('../../assets/bg-primary.png');
$bg-secondary: url('../../assets/bg-secondary.png');
$bg-tertiary: url('../../assets/bg-tertiary.png');

$radius-sm: 6px;
$radius-md: 10px;
$radius-lg: 20px;

$font-weight-normal: 400;
$font-weight-bold: 600;


